@use '../../../../styles/global-colors' as *;
@use '../../../../styles/global-fonts' as *;
@use '../../../../styles/globle-mixin' as *;

@media (max-width: 1440px) {
    .whyMe {

        @include flex($fd: column, $g: 16px);
    }

    .headline {
        text-align: center;

        >h3 {

            @include font($c: $main-color-lightblue, $ff: 'Anta', $fw: 400, $fs: 32px);
        }
    }

    // >> Left Container
    .c-left {
        padding-bottom: 16px;

        @include flex($g: 8px);

        >img {

            @include img($w: 32.5px, $h: 40px, $of: contain);

            &:first-child {
                display: none;
            }
        }

        >figcaption {

            >span {
                user-select: text;

                @include font($c: $main-color-white, $fw: 700, $fs: 18px, $ff: 'Josefin Sans');

                >span {
                    color: $main-color-lightblue;
                }
            }
        }
    }


    // >> Right Container
    .c-right {
        flex: 1;
        height: 100%;
        text-align: center;

        @include flex($fd: column, $jc: space-between, $ai: flex-end);

        >p {
            user-select: text;
            line-height: 24px;

            @include font($c: $main-color-white, $fw: 400, $fs: 18px, $ff: 'Josefin Sans');
        }

        >div {
            display: none;
        }
    }
}