@use '../../../../styles/global-colors' as *;
@use '../../../../styles/global-fonts' as *;
@use '../../../../styles/globle-mixin' as *;

// >> Desktop Design << \\
@media (min-width: 1440px) {
     .c-main {
        padding: 32px 0;
    }

    // >> Main Left Container
    .c-main-list {
        width: 690px;
    }

    .c-main-list-item {
        min-width: 690px;
    }

    .c-main-list-item-text {
        >span {

            @include font($c: $main-color-white, $fw: 400, $fs: 28px, $ff: 'Josefin Sans');
        }

        >p {

            @include font($c: $main-color-white, $fw: 400, $fs: 18px, $ff: 'Josefin Sans');
        }
    }

    .c-main-weeks {

        @include font($c: $main-color-white, $fw: 400, $fs: 18px, $ff: 'Josefin Sans');
    }
}