<section>
    <nav>
        <div>
            <figure class="logo">
            <a href="#navHeader">
                <img src="img/logos/logo_dark.svg" alt="logo_dark">
            </a>
        </figure>
        <div>
            <ul class="menu-list">
                @for (item of this.app.navbar.menu; track item; let i = $index) {
                    <li class="menu-item">
                        <a href="#{{ this.navMenuRef[i] }}">
                            <span>{{ item }}</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="change-language">
            @for (lang of this.getAllLanguages(); track lang) {
            <button type="button"
                (click)="this.changeLanguage(lang)"
                [disabled]="this.checkLanguage(lang)"
                [classList]="this.checkLanguage(lang) && 'activ-language'">

                <span>{{ lang }}</span>
            </button>
            }
        </div>
        </div>
    </nav>
</section>