@use '../../../styles/global-colors' as *;
@use '../../../styles/global-fonts' as *;
@use '../../../styles/globle-mixin' as *;

section {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    user-select: none;
    background-color: $main-color-lightblue;
    max-height: 104px;
    height: 104px;

    @include flex();

    >div {
        max-width: 1440px;
        width: 1440px;

        @include flex($jc: space-around);
    }
}

.logo {
    cursor: pointer;

    >img {

        @include img($w: 58px, $h: 72px, $of: cover);
    }
}

// >> Nav Menu
.menu-list {
    min-width: 800px;

    @include flex($g: 110px);
}

.menu-item {
    transition: all ease-in-out 125ms;
    min-width: 140px;
    min-height: 31px;
    text-align: center;

    @include flex();

    >a {
        >span {
            user-select: none;

            @include font($c: $main-color-black, $ff: 'Josefin Sans', $fw: 500, $fs: 26px);
        }

        &:hover {
            cursor: pointer;

            >span {
                color: $main-color-white;
            }
        }
    }
}

.activ-menu-item {
    @include bg-img($bg-i: '../assets/img/change_language/ellipse.svg', $bg-s: contain);

padding: 16px;

    >span {
        color: $main-color-white !important;
    }
}

// >> Buttons
.change-language {
    transition: all ease-in-out 125ms;
    width: 92px;
    height: 31px;

    @include flex($jc: space-around);

    >button {
        width: 36.8px;
        height: 24px;

        >span {
            text-transform: uppercase;

            @include font($c: $main-color-black, $ff: 'Josefin Sans', $fw: 400, $fs: 18px);
        }

        &:hover {
            cursor: pointer;

            >span {
                color: $main-color-white;
            }
        }
    }
}

.activ-language {
    cursor: default !important;

    @include bg-img($bg-i: '../assets/img/change_language/ellipse.svg');

    >span {
        color: $main-color-white !important;
    }
}