@use '../../../../styles/global-colors' as *;
@use '../../../../styles/global-fonts' as *;
@use '../../../../styles/globle-mixin' as *;

section {
    padding: 80px;

    @include flex();
}

.whyMe {
    width: 980px;
    height: 307px;
    max-width: 980px;
    max-height: 307px;

    @include flex($fd: column);
}

.headline {
    flex: 1;

    >h3 {

        @include font($c: $main-color-lightblue, $fw: 400, $fs: 60px, $ff: 'Anta');
    }
}

.container {
    flex: 1;
    min-width: 429px;

    @include flex($ai: flex-start, $g: 64px);
}

.c-left {
    flex: 1;

    @include flex($g: 8px);

    >figcaption {

        >img {

            @include img($w: 74px, $h: 63px);
        }

        >span {

            @include font($c: $main-color-white, $fw: 700, $fs: 30px, $ff: 'Josefin Sans');

            >span {
                color: $main-color-lightblue;
            }
        }
    }
}

.c-right {
    flex: 1;
    height: 100%;
    
    @include flex($fd: column, $jc: space-between, $ai: flex-end);

    >p {

        @include font($c: $main-color-white, $fw: 400, $fs: 18px, $ff: 'Josefin Sans');
    }

    >div {

        @include flex($jc: flex-end);

        >a {
            min-width: 134px;
            min-height: 48px;

            @include flex();
            @include border($br: 30px, $bs: solid, $bw: 1px, $bc: $main-color-lightblue);

            >span {

                @include font($fw: 400, $fs: 18px, $ff: 'Josefin Sans', $c: $main-color-lightblue);
            }


            &:hover {
                cursor: pointer;
                background-color: $main-color-white-hover;
            }
        }
    }
}