<section>
    <div class="whyMe">

        <!-- >> Headline Container -->
        <div class="headline">
            <h3>{{ this.app.headline }}</h3>
        </div>
        <div class="container">

            <!-- >> Left Contaienr -->
            <figure class="c-left">
                <img src="img/main/icons/position.svg" alt="position">
                <img src="img/main/icons/position_mobile.svg" alt="position_mobile">
                <figcaption>
                    <span>
                        <span>{{ this.app.left_container.first_text }}</span>
                        {{ this.app.left_container.last_text }}
                    </span>
                </figcaption>
            </figure>

            <!-- >> Right Contaienr -->
            <div class="c-right">
                <p>
                    {{ this.app.right_container }}
                </p>
                <div>
                    <a href="#navContact">
                        <span>{{ this.app.button }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>