$devmode: true;
$scrollbar-w: 20px;

// Main Colors
$main-color-black: #262E34;
$main-color-lightblack: #2c373f;
$main-color-lightblue: #89BCD9;
$main-color-lightblue-hover: #89bcd936;
$main-color-white: #F8F5EC;
$main-color-white-hover: #F8F5EC1F;
$main-color-lightgray: #262E341F;
$main-color-lightred: #E44C36;
$main-color-lightgreen: #97E163;

// Another color combinations
$combination-01-darkblue: #042639;
$combination-01-orange: #F28A62;
$combination-01-white: #F8F5EC;

$combination-02-darkturquoise: #0A383F;
$combination-02-lightyellow: #F9CB71;
$combination-02-white: #FFFFFF;