@mixin flex($jc: center, $ai: center, $g: 0px, $fd: null) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    @if($fd) {
        flex-direction: $fd;
    }
}

@mixin img($w: 60px, $h: 60px, $of: cover) {
    width: $w;
    height: $h;
    object-fit: $of;
}

@mixin bg-img($bg-i: null, $bg-s: cover, $bg-p: center, $bg-r: no-repeat) {
    @if ($bg-i) {
        background-image: url($bg-i);
    }
    background-size: $bg-s;
    background-position: $bg-p;
    background-repeat: $bg-r;
}

@mixin border($br: 0px, $bs: solid, $bw: 0px, $bc: #000) {
    border-radius: $br;
    border-style: $bs;
    border-width: $bw;
    border-color: $bc;
}

// Nicht in verwendung!!!
@mixin container() {
    width: $w;
    height: $h;
    max-width: $max-w;
    max-height: $max-h;
    min-width: $min-w;
    min-height: $min-h;
}