<section>
    <div class="mySkills">

        <!-- >> Headline Container -->
        <div class="headline">
            <h3>{{ this.app.headline }}</h3>
        </div>
        <div class="container">

            <!-- >> Left Container -->
            <div class="c-left">
                @for (image of app.left_container.images; track image) {
                <figure class="left-img-item">
                    <img src="{{ image.path }}" alt="{{ image.title }}">
                    <figcaption>
                        <span>{{ image.title }}</span>
                    </figcaption>
                </figure>
                }
            </div>

            <!-- >> Right Container -->
            <div class="c-right">
                <figure>
                    <img src="img/main/ellipse_dark.svg" alt="ellipse_dark">
                    <figcaption>
                        <span>{{ this.app.right_container.text_header }}</span>
                        <div>

                            <!-- >> Images -->
                            @for (image of app.right_container.images; track image) {
                            <figure class="right-img-item">
                                <img src="{{ image.path }}" alt="{{ image.title }}">
                                <figcaption>
                                    <span>{{ image.title }}</span>
                                </figcaption>
                            </figure>
                            }
                        </div>
                        <p>{{ this.app.right_container.text_main }}</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>