@use '../../styles/global-colors' as *;
@use '../../styles/global-fonts' as *;
@use '../../styles/globle-mixin' as *;

section {
    position: relative;
    padding: 16px;

    @include flex($ai: flex-start);

    >div {
        width: 1214px;
        max-width: 1214px;
        background-color: $main-color-lightblack;
        padding: 16px;
        border-radius: 8px;
    }
}

button {
    font-size: large;
    cursor: pointer;
    color: $main-color-lightblack;

    &:hover {
        text-decoration: underline;
    }
}

a,
span,
p,
li {
    color: $main-color-white;
    padding: 8px 0;
}

p {
    overflow: hidden;
}

h1,
h2,
h3 {
    padding: 16px 0;
    color: $main-color-lightblue;
}

a {
    text-decoration: underline;

    &:hover {
        color: $main-color-lightblue;
    }
}

ul {
    padding-left: 16px;
    font-size: small;
}

@media (max-width: 530px) {
    section>div {
        inline-size: calc(320px - 16px);
    }
}