@use '../../styles/global-colors' as *;
@use '../../styles/global-fonts' as *;
@use '../../styles/globle-mixin' as *;

section {
    position: relative;
    padding: 16px;
    padding-top: 104px;
    overflow: auto;
    height: calc(100vh);

    @include flex($ai: flex-start);

    >div {
        width: 1214px;
        max-width: 1214px;
        background-color: $main-color-lightblack;
        padding: 16px;
        border-radius: 8px;
    }
}

button {
    font-size: large;
    cursor: pointer;
    color: $main-color-lightblack;

    &:hover {
        text-decoration: underline;
    }
}

a,
span,
p {
    color: $main-color-white;
    padding: 8px 0;
}

h1,
h2,
h3 {
    padding: 16px 0;
    color: $main-color-lightblue;
}

a {
    text-decoration: underline;

    &:hover {
        color: $main-color-lightblue;
    }
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media (max-height: 700px) {
    section {
        height: calc(100vh + 100px);
    }
}