<section>
    <div>
        <button (click)="this.getNextPage()" type="button">Back</button>
    </div>
    <div>
        <h1>Legal Notice</h1>
        <span>Dominik Mozelt</span> <br>
        <span>Bachreith 17</span> <br>
        <span>2443 Leithaprodersdorf</span>
    </div>
    <div>
        <h2>Contact</h2>
        <span>
            Phone: <a href="tel:+436506706120">+43 650 670 6120</a>
        </span> <br>
        <span>
            Email: <a href="mailto:dmozelt@gmail.com">dmozelt&#64;gmail.com</a>
        </span> <br>
        <span>
            Source: <a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </span>
    </div>
    <div>
        <p>
            Created my free logo at <a href="https://logomakr.com" target="_blank">LogoMakr.com</a>
        </p>
    </div>
</section>