
<section>
    <app-navbar class="navbar" />
    <div>
        <h1>{{ app.legal_notice.headline }}</h1>
        
        <p>{{ app.legal_notice.address.name }}</p>
        <p>{{ app.legal_notice.address.street }}</p>
        <p>{{ app.legal_notice.address.city }}</p>

        <h2>{{ app.legal_notice.contact.title }}</h2>
        <p>{{ app.legal_notice.contact.phone }}</p>
        <p>{{ app.legal_notice.contact.email }}</p>

        <p>
            {{ app.legal_notice.source.text }}
            <a [href]="app.legal_notice.source.url" target="_blank">{{ app.legal_notice.source.url }}</a>
        </p>
    </div>
    <app-footer class="footer"/>
</section>