<section>
    <header>

        <!-- >> Header Left Container -->
        <div class="header-left">
            <figure>
                <img src="img/header/person.png" alt="person">
                <img src="img/header/person_mobile.png" alt="person_mobile">
                <div class="left-img-bg"></div>
                <div class="left-img-bg-hover"></div>
            </figure>
        </div>

        <!-- >> Header Right Container -->
        <div class="header-right">
            <div>

                <!-- >> Logo -->
                <div class="right-logo">
                    <figure>
                        <hr>
                        <img src="img/logos/logo.svg" alt="logo">
                    </figure>

                    <!-- >> Icon Bar -->
                    <div class="right-icon-bar">
                        <div>
                            <figure class="right-icon-bar-item">
                                <img src="img/logos/header/email_logo.svg" alt="email_logo">
                                <a href="#navContact" (click)="this.setActiveMenuItem('menuItem3')">
                                    <img src="img/logos/header/email_logo_hover.svg" alt="email_logo_hover">
                                </a>
                            </figure>
                            <figure class="right-icon-bar-item">
                                <img src="img/logos/header/github_logo.svg" alt="github_logo">
                                <a href="https://github.com/dhm-blue-phoenix/portfolio.git" target="_blank"
                                    rel="noopener noreferrer">
                                    <img src="img/logos/header/github_logo_hover.svg" alt="github_logo_hover">
                                </a>
                            </figure>
                            <figure class="right-icon-bar-item">
                                <img src="img/logos/header/linkedin_logo.svg" alt="linkedin_logo">
                                <!-- No Link Ref -->
                                <a href="#">
                                    <img src="img/logos/header/linkedin_logo_hover.svg" alt="linkedin_logo_hover">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>

                <!-- >> Headline -->
                <div class="right-headline">
                    <h1>Dominik Mozelt</h1>
                    <h2>{{ this.app.header.headline }}</h2>
                </div>

                <!-- >> Button -->
                <div class="right-btn">
                    <figure>
                        <hr>
                        <a href="#navWhy" (click)="this.setActiveMenuItem('menuItem0')">
                            <img src="img/buttons/arrow_btn_down.svg" alt="arrow_down_button">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </header>
</section>