<section>
    <header>
        <div class="header-left">
            <figure>
                <img src="img/header/person.png" alt="person">
                <div class="left-img-bg"></div>
                <div class="left-img-bg-hover"></div>
            </figure>
        </div>
        <div class="header-right">
            <div>
                <div class="right-logo">
                    <figure>
                        <hr>
                        <img src="img/logos/logo.svg" alt="logo">
                    </figure>
                    <div class="right-icon-bar">
                        <div>
                            <figure class="right-icon-bar-item">
                                <img src="img/logos/email_logo.svg" alt="email_logo">
                                <!-- No Link Ref -->
                                <a href="#">
                                    <img src="img/logos/email_logo_hover.svg" alt="email_logo_hover">
                                </a>
                            </figure>
                            <figure class="right-icon-bar-item">
                                <img src="img/logos/github_logo.svg" alt="github_logo">
                                <!-- No Link Ref -->
                                <a href="#">
                                    <img src="img/logos/github_logo_hover.svg" alt="github_logo_hover">
                                </a>
                            </figure>
                            <figure class="right-icon-bar-item">
                                <img src="img/logos/linkedin_logo.svg" alt="linkedin_logo">
                                <!-- No Link Ref -->
                                <a href="#">
                                    <img src="img/logos/linkedin_logo_hover.svg" alt="linkedin_logo_hover">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="right-headline">
                    <h1>Dominik Mozelt</h1>
                    <h2>{{ this.app.header.headline }}</h2>
                </div>
                <div class="right-btn">
                    <figure>
                        <hr>
                        <a href="#navWhy">
                            <img src="img/buttons/arrow_btn_down.svg" alt="arrow_down_button">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </header>
</section>