@use '../../../styles/global-colors' as *;
@use '../../../styles/global-fonts' as *;
@use '../../../styles/globle-mixin' as *;

// >> Desktop Design << \\
@media (min-width: 1440px) {
    header {
        padding: 0;
    }

    // >> Header Left Container
    .header-left {
        >figure {
            >img {
                @include img($w: 535px, $h: 683px);
            }
        }
    }

     .left-img-bg,
    .left-img-bg-hover {
        width: 580px;
        height: 616px;

        >div {
            min-width: 580px;
            min-height: 616px;
        }
    }

    .right-headline {
        >h1 {

            @include font($fw: 400, $fs: 80px, $ff: 'Anta');
        }

        >h2 {
            @include font($fw: 400, $fs: 40px, $ff: 'Josefin Sans');
        }
    }
}