@use '../../../../styles/global-colors' as *;
@use '../../../../styles/global-fonts' as *;
@use '../../../../styles/globle-mixin' as *;

// >> Desktop Design << \\
@media (min-width: 1440px) {
    section {
        overflow: auto;
        min-width: 1301px;
    }
    
    .header-nav-btn {
        transform: rotate(180deg) translateX(calc(-140px + 150px));
    }

    .c-main {
        width: 911px;
    }

    // >> Main Contact Formular
    .c-main-contact-form {
        flex: 2;
        width: 100%;

        @include flex($g: 16px, $fd: column, $jc: flex-start);

        >form {
            width: 100%; //!!!
        }
    }

    .contact-form {
        >label {
            width: 445px;
        }
    }
}