<!-- 
    Contact Toto List:
    ------------------
    > Form Funktion TS
    > Form Validate (HTML / SCSS / TS)
    > Privacy policy Funktion 
-->

<section>
    <div>
        <!-- >> Headline Container -->
        <div class="headline">
            <h3>{{ this.app.headline }}</h3>

            <!-- >> Nav Button To Header -->
            <div class="header-nav-btn">
                <figure>
                    <hr>
                    <a href="#navHeader" (click)="this.setActiveMenuItem('')">
                        <img src="img/buttons/arrow_btn_down.svg" alt="arrow__button">
                    </a>
                </figure>
            </div>
        </div>

        <!-- >> Main Container -->
        <div class="c-main">

            <!-- >> Main Contact Info -->
            <div class="c-main-contact-info">
                <p>{{ this.app.info.description }}</p>
                <div class="contact-info">
                    <a href="mailto:{{ this.app.info.email }}">
                        <figure>
                            <div>
                                <img src="img/main/icons/email.svg" alt="email">
                                <img src="img/main/icons/email_hover.svg" alt="email_hover">
                            </div>
                            <figcaption>
                                <span>E-Mail:</span>
                                <span>{{ this.app.info.email }}</span>
                            </figcaption>
                        </figure>
                    </a>
                    <a href="mailto:{{ this.app.info.tel }}">
                        <figure>
                            <div>
                                <img src="img/main/icons/phone.svg" alt="phone">
                                <img src="img/main/icons/phone_hover.svg" alt="phone_hover">
                            </div>
                            <figcaption>
                                <span>Tel:</span>
                                <span>{{ this.app.info.tel }}</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>

            <!-- >> Main Contact Formular -->
            <div class="c-main-contact-form">
                <form (ngSubmit)="this.onSubmit(contactForm)" #contactForm="ngForm">
                    <div class="contact-form">
                        <label for="inputName">
                            <span [ngClass]="{ 'form-err-input' : this.formValid }">{{ this.app.form.name }}</span>
                            <input [ngClass]="{ 'form-err-field' : this.formValid }" [(ngModel)]="this.contactData.name" type="text" name="name" id="inputName" required>
                        </label>
                        <label for="inputEmail">
                            <span [ngClass]="{ 'form-err-input' : this.formValid }">{{ this.app.form.email }}</span>
                            <input [ngClass]="{ 'form-err-field' : this.formValid }" [(ngModel)]="this.contactData.email" type="text" name="email" id="inputEmail" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                        </label>
                    </div>
                    <label for="textareaMessage">
                        <span [ngClass]="{ 'form-err-input' : this.formValid }">{{ this.app.form.msg }}</span>
                        <textarea [ngClass]="{ 'form-err-field' : this.formValid }" [(ngModel)]="this.contactData.message" name="message" id="textareaMessage" required></textarea>
                    </label>

                    <!-- >> Main Contact Footer -->
                    <div class="c-main-contact-footer">
                        <figure>
                            <button type="button" class="footer-img" (click)="this.setFormFooterClick()" [ngClass]="{ 'form-clicked-footer' : this.formFooterClicked}" [ngClass]="{ 'form-err-footer' : this.formFooterValid }" >
                                <img src="img/main/contact_list_item.svg" alt="contact_list_item">
                                <img src="img/main/contact_list_item_hover.svg" alt="contact_list_item_hover">
                                <img src="img/main/contact_list_item_checked.svg" alt="contact_list_item_checked">
                                <img src="img/main/contact_list_item_error.svg" alt="contact_list_item_error">
                            </button>
                            <figcaption>
                                <span>{{ this.app.footer_text[0] }}</span>
                                <a (click)="this.getNextPage()">{{ this.app.footer_text[1] }}</a>
                                <span>{{ this.app.footer_text[2] }}</span>
                            </figcaption>
                        </figure>
                        <div>
                            <button type="submit">
                                <span>{{ this.app.btn_text }}</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>