@use './styles/global-colors' as *;

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    background-color: $main-color-black;
}